<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>invoiceService</servlet-name>
		<servlet-class>com.ezee.server.EzeeInvoiceServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>invoiceService</servlet-name>
		<url-pattern>/EzeeInvoiceWeb/invoiceservice</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>EzeeInvoiceWeb.html</welcome-file>
	</welcome-file-list>

</web-app>
